@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
main {
    /* height: 85vh; */
    overflow-y: scroll;
    background-color: transparent !important;
  }
.trigger{
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}
.trigger:hover{
    color: #1890ff;
}

.ant-layout{
min-height: 100vh;
}

